body {
    font-family: Arial, Helvetica, sans-serif;
    font-size: 17px;
    padding: 8px;
  
  }
* {
      box-sizing: border-box;
 }

input[type=text] {
   width: 100%;
   margin-bottom: 20px;
   padding: 12px;
   border: 1px solid #ccc;
   border-radius: 3px;
 }

 .row {
      
     display: -ms-flexbox; 
     display: flex;
     -ms-flex-wrap: wrap; 
     flex-wrap: wrap;
     margin: 0 -16px;
 }

 .col1 {
       -ms-flex: 50%; 
       flex: 50%;
      }

  .col2 {
       -ms-flex: 25%;
       flex: 25%;
       margin-bottom: 20px;
       }   

.icon-container {
      margin-bottom: 10px;
      padding: 7px 0;
      font-size: 24px;
     }
     .btn {
       background-color: #4CAF50;
       color: white;
       padding: 12px;
       margin: 10px 0;
       border: none;
       width: 100%;
       border-radius: 2px;
       cursor: pointer;
       font-size: 17px;
       } 

     .btn:hover {
       background-color: #4b6e4d;
       }

      .col3 {
       padding: 0 16px;
       -ms-flex: 75%;
        flex: 75%;
       }

  .container {
      background-color: #f2f2f2;
      padding: 15px 35px 20px 35px;
      border: 1px solid lightgrey;
      border-radius: 3px;
     }
  hr {
      border: 1px solid lightgrey;
      }

   .cart-margin {
      margin-bottom: 20px;
      }

    span.price {
      float: right;
     color: grey;
      }

    label {
      margin-bottom: 20px;
      display: block;
     }